*.pyc
*/__pycache__/
__pycache__/
*/.venv/
.venv/

# Ignore temporary JSON files
*/tmp_json_files/

# Ignore log files
*/logs/
logs/

# Ignore HTML files generated in the scripts directory
*/scripts/*.html
